#price-range-container {
  margin-bottom: 26px;
}

#price-range-container > h4 {
  margin-bottom: 8px;
}

#price-range-container > #range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
  color: #49494994;
}

#price-range-container > #priceBars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 68px;
}

#price-range-container > #priceBars > .bar {
  width: 4px;
  background-color: #287eff;
  border-radius: 20px;
}
